.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
debug

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
termite
a.out

# Autotools
/Makefile.in
/config.guess
/config.sub
/Makefile.in
/src/Makefile.in
/cJSON/Makefile.in
config.h.in
*.la
*.lo
*~
.deps/
.libs/
Makefile
aclocal.m4
autom4te.cache
autoscan.log
compile
config.h
config.log
config.status
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
stamp*
*.tar.gz
