.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
debug

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
termite
a.out

# Autotools
Makefile.in
ar-lib
config.guess
config.sub
config.h.in
*.la
*.lo
*~
.deps/
.libs/
Makefile
aclocal.m4
autom4te.cache
autoscan.log
compile
config.h
config.log
config.status
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
stamp*
*.tar.gz
